<div class="container">
	<h1>Signup Success! YES!</h1>
	Your login is: <%= current_artist.email %>
	<br /><br />
	You may now submit grant applications from <%= link_to "Artist's Home", :controller => "artists", :action => "index" %>
</div>