<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure</h1>
    <h1>Signup failed!</h1>
    We're not sure why this happened. Please try again or contact us at: <a href="mailto:grants@fireflyartscollective.org">grants@fireflyartscollective.org</a>
</div>