<div class="container">
    <h1>Signup Success! YES!</h1>
    Your login is: <%= current_voter.email %>
    <br /><br />
    Thank you so much for applying to be on the voting committee for Firefly Art Grants in 2016!
    <br /><br />
    You will be notified via email (at <%= current_voter.email %>) if you are selected for the committee, and with further details as they become pertinent. You may want to bookmark <%= link_to "this page", :controller => "voters", :action => "index" %>, as it will be used to vote on applications during the judging process.
    <br /><br />
    Thanks again!
</div>