<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Failure!</h1>

    Your grant application submission failed. Sorry :(

    <br /><br />

    Please try again or contact grants@fireflyartscollective.org for help.

    <br /><br />

    <%= link_to "Back", :controller => "artists", :action => "index" %>
</div>