<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Success!</h1>

    Your grant application has been submitted for review!

    <br /><br />

    You will be notified via email when your application has been reviewed.

    <br /><br />

    <%= link_to "Back", :controller => "artists", :action => "index" %>
</div>