/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #7AB9C4;
}

body, div {
	font-family: "Arial", "Tahoma", "Helvetica", serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 800px;
	padding: 50px;
	font-size: 17px;
	background-color: #fff;
}

a {
	color: #9E1E4C;
}

a:hover {
	color: #FF1168;
}

h1, h2, h3 {
	color: #25020F;
}

fieldset {
	background-color: #ECECEC;
	border: 0;
	padding: 20px;
}

form li {
	padding: 10px;
}

form label {
	padding-right: 20px;
	display: inline-block;
	width: 300px;
}

input, textarea {
	padding: 10px;
	font-size: 17px;
	width: 350px;
	border: 0;
	background-color: #fff;
	color: #9E1E4C;
}

.button {
	width: 370px;
}

checkbox {
	width: 20px;
}

textarea {
	margin-top: 10px;
	width: 650px;
}